<header id="page-top" class="container">
  <%= image_tag("sydney.jpg", alt: "Sydney Habour Bridge", class: "img-rounded img-responsive center-block") %>
  <div class="padding-top-bottom-20 text-center">
    <h1>Hi! I'm Fin.</h1>
    <h1>Welcome to my site :)</h1>
  </div>
</header>

<section id="about" class="background-pink row">
  <div class="padding-top-bottom-20 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="text-center">
      <span class="glyphicon glyphicon-heart"></span>
      <h2>About Fin</h2>
    </div>
    <div>
      <div class="col-sm-4"><%= image_tag("fin1.jpg", alt: "fin's photo", style: "width:280px;height:auto;", class: "img-circle center-block padding-top-bottom-20") %>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <p>I am Fin, a Web Developer from Sydney, Australia. I love to exercise, travel and go shopping. I am currently a student at Coder Factory. I have just started learning Web Development and I am really enjoying it.</p>
        <br>
        <h3>My Skills</h3>
        <ul>
          <li>Web Design</li>
          <li>HTML, CSS, Bootstrap</li>
          <li>Ruby on Rails</li>
          <li>JavaScript, jQuery</li>
          <li>Wordpress</li>
        </ul>
        <h3>Work Experience</h3>
        <ul>
          <li>Operator, Etel Communications</li>
          <li>Operator, Jalco Health Care</li>
        </ul>
        <h3>Education</h3>
        <ul>
          <li>Diploma of Software Development, Coder Factory, Sydney (Currently studying)</li>
          <li>Master of Service Industries and Management, Minghsin University of Science and Technology, Taiwan
          </li>
          <li>Bachelor of International Business, Vanung University, Taiwan</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="row">
  <div class="padding-top-bottom-20 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="text-center">
      <span class="glyphicon glyphicon-heart"></span>
      <h2>Portfolio</h2>
    </div>
    <div class="row">

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModalBankingApp">
        <%= image_tag("octicons-terminal.svg", style: "width:250px;height:auto;", class: "center-block") %>
        Banking App
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModalBankingApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabelBankingApp">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header background-pink">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabelBankingApp">Banking App</h4>
            </div>
            <div class="modal-body">
              <%= image_tag("octicons-terminal.svg", style: "width:250px;height:auto;", class: "center-block") %>

              This is my first command line application, written in Ruby. This app allows you to add, edit, view, remove customers and transations. The data are saved to csv files.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModalGuessNumberGame">
        <%= image_tag("octicons-terminal.svg", style: "width:250px;height:auto;", class: "center-block") %>
        Guess Number Game
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModalGuessNumberGame" tabindex="-1" role="dialog" aria-labelledby="myModalLabelGuessNumberGame">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header background-pink">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabelGuessNumberGame">Guess Number Game</h4>
            </div>
            <div class="modal-body">
              <%= image_tag("octicons-terminal.svg", style: "width:250px;height:auto;", class: "center-block") %>
              This is a command line application, written in Ruby. This game asks user to guess a number between a range, and tells the user whether the guess was correct.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModalVideoGameApp">
        <%= image_tag("retro-game-app.png", style: "width:250px;height:280px;", class: "center-block") %>
        Retro Video Game App
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModalVideoGameApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabelVideoGameApp">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header background-pink">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabelVideoGameApp">Retro Video Game App</h4>
            </div>
            <div class="modal-body padding-top-bottom-40">
              <%= image_tag("retro-game-app.png", style: "width:250px;height:auto;", class: "center-block") %>
              <div class="padding-top-bottom-40">
                This app is for making easier for buyers and sellers to collaborate with each other to facilitate a comfortable environment to buy or rent retro video games.
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModalLetsMeetApp">
        <%= image_tag("lets-meet-app.png", style: "width:400px;height:280px;", class: "center-block") %>
        Let's Meet App
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModalLetsMeetApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLetsMeetApp">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header background-pink">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabelLetsMeetApp">Let's Meet App</h4>
            </div>
            <div class="modal-body padding-top-bottom-40">
              <%= image_tag("lets-meet-app.png", style: "width:320px;height:auto;", class: "center-block") %>
              <div class="padding-top-bottom-40">
                This app is for people looking for coffee buddies. It is for people to meet a stranger who is available nearby for a coffee now. The user may want to meet people that come from different countries and share information together. However, for
                foreigners it may be difficult to know good cafes in the area.
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="contact" class="row background-pink">
  <div class="padding-top-bottom-20 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="text-center">
      <span class="glyphicon glyphicon-heart"></span>
      <h2>Contact Me</h2>
      <div class="padding-top-bottom-20">
        <a href="https://github.com/FinTsai" target="_blank" class="genericon genericon-github padding-right-10"></a>
        <a href="http://www.linkedin.com/in/fin-tsai-135b58119?trk=nav_responsive_tab_profile_pic" target="_blank" class="genericon genericon-linkedin padding-right-10"></a>
        <a href="https://fintsai.wordpress.com/" target="_blank" class="genericon genericon-wordpress padding-right-10"></a>
        <a href="https://twitter.com/" target="_blank" class="genericon genericon-twitter padding-right-10"></a>
      </div>
    </div>

  </div>
</section>
